/* Global */

.layer-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/Welcome-image-after.png");
    background-size: cover;
    -webkit-mask-image: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), black 10%, transparent 80%);
    mask-image: radial-gradient(circle 300px at var(--x, 50%) var(--y, 50%), black 10%, transparent 80%);
}

.layer-text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
}